<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <h1>Flaskr</h1>
  <ul class="nav-bar">
    {% if g.user %}
    <li>
      <span>{{ g.user['username'] }}</span>
    </li>
    <li>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    </li>

    <li>
      <a href="{{ url_for('chat.chat_history') }}">Your History</a>
    </li>
    {% else %}
    <li>
      <a href="{{ url_for('auth.register') }}">Register</a>
    </li>
    <li>
      <a href="{{ url_for('auth.login') }}">Log In</a>
    </li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
<script>
  msgs = []

  onWelcome()
  async function onGetBotResponse(ev) {
    ev.preventDefault()
    const { value } = document.querySelector('.message-input')
    const msgsContainer = document.querySelector('.messages-list')

    try {
      document.querySelector('.loading-container').innerHTML = 'Loading...'
      // The url is on the same host, so we grab the current url and append the api endpoint
      const data = { message: value }
      const endpoint = '/api/generate'
      const res = await axios.post(_getUrl(endpoint), data)
      msgs.push(res.data)
      renderMsgs()
    } catch (err) {
      console.log(err)
      document.querySelector('.loading-container') = 'Loading...'
      document.querySelector('.error-continer').innerHTML = 'Something went wrong, please try again'
    }
  }

  function renderMsgs() {
    document.querySelector('.loading-container').innerHTML = ''
    const msgsContainer = document.querySelector('.messages-list')
    msgsContainer.innerHTML = 'Loading...'
    msgsContainer.innerHTML = msgs.map(({ user_input, bot_response }) => {
      return `<article class="message">
                <div class="user-input">${user_input}</div>
                <div class="bot-response">${bot_response}</div>
              </article>`
    })
  }

  async function onWelcome() {
    const {
      data: { msg },
    } = await axios.get('/chat/api')
    const elWelcome = document.createElement('li')
    elWelcome.innerHTML =
    `
    <li>
      <div>${msg}</div>
      <a href="/chat">Click here to start a new chat</a>
    </li>
    `
    document.querySelector('.nav-bar').appendChild(elWelcome)
  }

  function _getUrl(endpoint) {
    const currUrl = window.location.href
    return currUrl + endpoint
  }
</script>
